<div class="container-fluid">
    <div class="filters">
        <!--Sidebar content-->
        Search:
        <input ng-model="query"> Sort by:
        <select ng-model="sortOrder">
            <option value="last_name">Last Name</option>
            <option value="number">Number</option>
            <option value="size">Size</option>
            <option value="team">Team</option>
        </select>
    </div>
    <div class="jersey-container">
        <!--Body content-->
        <ul class="jerseys">
            <li ng-repeat="jersey in jerseys | filter:query | orderBy:sortOrder" class="jerseyObject">
                <a href="#/jerseys/{{jersey.id}}" class="thumb">
                    <img class="jersey-preview" alt="{{jersey.number}}" ng-src="{{jersey.imageUrl}}">
                    <!-- <img class="jersey-preview" src="img/jerseys/demojersey.jpg"> -->
                </a>
                <h3><a href="#/jerseys/{{jersey.id}}">#{{jersey.number}} – {{jersey.first_name}} {{jersey.last_name}}</a></h3>
                <div class="preview-details">
                    <h6>{{jersey.league}}</h6>
                    {{jersey.imageUrl}}
                    <h4>{{jersey.team}}</h4>
                    <p>{{jersey.year}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>
